@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: block;
    align-items: baseline;
    background-image: url(img/bodyimg/Group\ 7838.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 280px;
}

nav {
    padding-right: 20%;
    padding-left: 14%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 15%;
    align-items: center;
}

.nav-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.nav-head .adnsu {
    width: 165px;
    height: 30px;
}

.nav-text {
    display: flex;
    gap: 60px;
    color: #fff;
}

.n-t-p1 {
    font-weight: 800;
}

.n-t-p2 {
    font-weight: 600;
}

.hiddennav {
    display: none;
}

.bigtext {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #30FFCD;
}

.littext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.medtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px dashed yellow;
    color: #FFFFFF;
    width: fit-content;
    text-decoration: dashed;
}

.headerblock {
    margin: 10%;
    width: 45%;
}

.h2block {
    display: flex;
    justify-content: space-around;
}

.h2btext {
    font-weight: 700;
    font-size: 47px;
    color: #382459;
    font-family: 'Oswald', sans-serif;
}

.mainbut2 {
    display: none;
}

.mainbut {
    width: 224px;
    height: 48px;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #FF1DC0;
    border: 1px solid #FF1DC0;
    border-radius: 45px;
}

.mainsecondblock {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    gap: 20%
}

.text1p {
    color: #382459;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.text2p {
    color: #382459;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.main3block {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #382459;
}

.textblock {
    margin-left: 14%;
    margin-right: 0%;
    width: 30%;
    gap: 10%
}

.text1m3 {
    color: #30FFCD;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.text2m3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 70%;
}

.text3m3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
}

.m4bdtext {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 47px;
    color: #382459;
}

.texthead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #382459;
}

.textmain {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 70%;
    font-size: 16px;
    color: #382459;
}

.main4block {
    margin-left: 12%;
    margin-right: 12%;
}

.text4block {
    display: flex;
    justify-content: space-between;
}

.main5block {
    background-color: #382459;
    display: flex;
    padding-bottom: 50px;
    position: relative;
    z-index: -3;
}

.main5block .mobile5mainblock {
    display: none;
}

.m5btext {
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
    gap: 5%;
}

.m5btext .text5block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h5text {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #30FFCD;
}

.p5text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
    width: 60%;
}

.p51text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
    width: 60%;
}

.but5class {
    color: #30FFCD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 192px;
    height: 48px;
    border: 2px solid #30FFCD;
    border-radius: 48px;
    background-color: #382459;
}

.rf6block {
    margin-left: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boldheadtxt {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 47px;
    color: #382459;
}

.notboldmaintxt {
    color: #382459;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 60%;
    font-size: 16px;
}

.rightblock {
    position: absolute;
    left: 53%;
}

.m7bp1 {
    padding-top: 70px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 41px;
    width: 50%;
    color: #30FFCD;
}

.main7block {
    display: flex;
    background-color: #382459;
}

.m7bp2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 50%;
    padding-bottom: 25px;
}

.m7bpbut {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 224px;
    height: 48px;
    background-color: #FF1DC0;
    color: #FFFFFF;
    border: 1px solid #FF1DC0;
    border-radius: 48px;
    margin-bottom: 20px;
}

.main6block {
    padding-top: 120px;
    padding-bottom: 80px;
}

.rightblock {
    z-index: -1;
}

.mn7bclass {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.textfout1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #382459;
}

.textfout2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #382459;
}

.foutermainblock {
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
}

.imageclass {
    position: relative;
}

.imageclass img {
    position: absolute;
    bottom: 5%;
    right: 7%;
    margin-bottom: -17px;
}

.secondtextblock {
    padding-left: 10%;
}

footer {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

footer .footer-block {
    color: #382459;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

footer .f-b-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer .f-b-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f-b-2 .p-1 {
    font-weight: 900;
}

.f-b-2 .p-2 {
    font-weight: 600;
}

footer .f-b-3 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

@media (max-width:880px) {
    .hiddennav {
        margin-left: 10%;
        display: block;
    }
    .hnimgclass {
        display: flex;
        gap: 5%;
    }
    .imghid1 {
        height: 40px;
        width: 80px;
    }
    nav {
        gap: 3%;
    }
    .logo-none,
    .adnsu {
        display: none;
    }
    .logo-1 {
        padding-top: 25px;
    }
}

@media (max-width:800px) {
    .main6block .rightblock {
        display: none;
    }
    .mn7bclass {
        display: flex;
        flex-direction: column;
    }
    .mn7bclass .leftblock {
        position: relative;
        left: -14x;
        top: 96px;
    }
    .m7bpbut {
        margin-bottom: 20px;
    }
    footer .footer-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    .footer-block .f-b-1 {
        flex-direction: row;
    }
}

@media (max-width:600px) {
    .m4bdtext {
        font-size: 27px;
        font-weight: 700;
    }
    .texthead {
        font-size: 20px;
        font-weight: 600;
    }
    .textmain {
        font-size: 13px;
        font-weight: 500;
    }
}

@media (max-width:400px) {
    .hiddennav {
        display: block;
    }
    .hnimgclass {
        display: flex;
        gap: 5%;
    }
    .imghid1 {
        height: 40px;
        width: 80px;
    }
    .mainbut {
        display: none;
    }
    .buttonmainclass2 {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .mainbut2 {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #FF1DC0;
        border: 1px solid #FF1DC0;
        width: 193px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 45px;
    }
    .mainsecondblock {
        display: flex;
        flex-direction: column;
    }
    .main3block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text4block {
        display: flex;
        flex-direction: column;
    }
    .textblock {
        width: 100%;
    }
    .m5mblockp {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        color: #30FFCD;
        font-size: 24px;
    }
    .m5mblockp2 {
        padding-left: 7%;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 11px;
    }
    .mobile5mainblock {
        margin-left: 7%;
    }
    .main5block .mobile5mainblock {
        display: flex;
        flex-direction: column;
    }
    .m5mblockbut {
        color: #30FFCD;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 11px;
        width: 135px;
        height: 40px;
        border: 1px solid #30FFCD;
        border-radius: 48px;
        background-color: #382459;
        justify-content: center;
        margin-top: 20px;
    }
    .rf6block {
        padding-bottom: 50px;
    }
    footer .footer-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    .footer-block .f-b-1 {
        flex-direction: row;
    }
    .boldheadtxt {
        margin-left: 15%;
        width: 80%;
    }
    .notboldmaintxt {
        width: 90%;
        margin-left: 15%;
    }
    .leftblock {
        position: absolute;
        right: 120px;
    }
    .h5text {
        display: none;
    }
    .boldheadtxt {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }
    .notboldmaintxt {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 11px;
    }
    .m5btext {
        display: none;
    }
    .leftmblock img {
        width: 50px;
        height: 50px;
    }
    .rightmblock img {
        width: 50px;
        height: 50px;
    }
    .bigtext {
        font-size: 28px;
        font-weight: 700;
    }
    .littext {
        font-size: 12px;
        font-weight: 400;
    }
    .medtext {
        font-size: 13px;
        font-weight: 600;
        border-bottom: yellow;
    }
    .h2btext {
        font-size: 24px;
        font-weight: 700;
    }
    .text1p {
        font-size: 18px;
        font-weight: 600;
    }
    .text2p {
        font-size: 11px;
        font-weight: 500;
    }
    .text1m3 {
        font-size: 40px;
        font-weight: 500;
    }
    .text2m3 {
        font-size: 11px;
        font-weight: 500;
    }
    .text3m3 {
        font-size: 9px;
        font-weight: 500;
    }
    .m4bdtext {
        font-size: 25px;
        font-weight: 700;
    }
    .texthead {
        font-size: 18px;
        font-weight: 600;
    }
    .textmain {
        font-size: 11px;
        font-weight: 500;
    }
    .m7bp1 {
        font-size: 24px;
        font-weight: 700;
    }
    .m7bp2 {
        font-weight: 500;
        font-size: 11px;
    }
    .m7bpbut {
        font-size: 15px;
        font-weight: 600;
    }
    .mainblock {
        flex-direction: column;
    }
    .selectitem {
        padding: 20px 25px;
        background-color: transparent;
        color: #30FFCD;
        border-color: #30FFCD;
        border-width: 2px;
        font-weight: bold;
    }
}